<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    
<h3>Welcome Admin</h3>
  <h1>Mentor Table</h1>
  <table class="table table-bordered table-dark">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">DOB</th>
          <th scope="col">Occupation</th>
          <th scope="col">Education</th>
          <th scope="col">Experience</th>
          <th scope="col">Status</th>
          <th scope="col">Bio</th>
        </tr>
      </thead>
    <tbody>
    {% for mentor in mentors %}    
    <tr>               
        <td>{{mentor['name']}}</td>
        <td>{{mentor['email']}}</td>
        <td>{{mentor['username']}}</td>
        <td>{{mentor['dob']}}</td>     
        <td>{{mentor['occupation']}}</td>
        <td>{{mentor['education']}}</td>   
        <td>{{mentor['experience']}}</td> 
        <td>{{mentor['status']}}</td>
        <td>{{mentor['bio']}}</td>                         
    </tr>
</tbody>
    {% endfor %}    
</table>

<h1>Mentee Table</h1>
<table class="table table-bordered table-dark">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">DOB</th>
          <th scope="col">Occupation</th>
          <th scope="col">Education</th>
          <th scope="col">Experience</th>
          <th scope="col">Status</th>
          <th scope="col">Bio</th>
        </tr>
      </thead>
    <tbody>
    {% for mentee in mentees %}    
    <tr>               
        <td>{{mentee['name']}}</td>
        <td>{{mentee['email']}}</td>
        <td>{{mentee['username']}}</td>
        <td>{{mentee['dob']}}</td>     
        <td>{{mentee['occupation']}}</td>
        <td>{{mentee['education']}}</td>   
        <td>{{mentee['experience']}}</td> 
        <td>{{mentee['status']}}</td>
        <td>{{mentee['bio']}}</td>                         
    </tr>
    </tbody>
    {% endfor %}    
</table>

</body>
</html>