
<!DOCTYPE html>
<html>
<head>
<title>Mentor Search Page</title>
</head>

<style>
#container {
    margin:auto;
    width:50%;  
    text-align: center;
}
.myTable { background-color:#eee;border-collapse:collapse; }
.myTable th { background-color:#000;color:white;width:50%; }
.myTable td, .myTable th { padding:5px;border:1px solid #000; }
</style>

<body>

<div id="container">
<h1>Welcome!</h1>
<h2> Create a community hub </h2>


<form action="/createCommunityHub" method="get">
    <label for="hubName">Hub Name:</label><br>
    <input type="text" id="hubName" name="hubName"><br><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="tags">Tags:</label><br>
    <input type="text" id="tags" name="tags"><br>
    <label for="banner">Banner:</label><br>
    <input type="file" id="banner" name="banner"><br><br>
    <label for="pfp">Forum Picture:</label><br>
    <input type="file" id="pfp" name="pfp"><br><br>
    <input type="submit" value="Create">

  </form>


    {{message}} <br> <br>



</div>


</body>
</html>
