.rightColumn {

    &::-webkit-scrollbar{
        display: none;
    }
    .container {
        padding: 20px;

        .communityHubCard{
            span{
                color: gray;
            }
            .hub {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .button {
                display: flex;
                align-items:  center;
            }
        }

    }
}
